#container {
    max-width: 720px;
    padding: 0 2rem;
    margin: 4rem auto;

    #containerHeader {
        display: flex;
        padding: 1rem 0 0 0;
        margin-bottom: 1rem;
        
        h1 {
            color: var(--white);
        }
    
        button {
            background: transparent;
            border: 0;
            margin-left: 1rem;
            color: var(--green-900);
            font-size: 22px;

        }
    }

    article#ordersSection {

        section#orderList {
            display: flex;
            flex-direction: row;
            background-color: var(--dark-900);
            margin-bottom: 1rem;
            align-items: center;
            border-radius: 0.3rem;

            button.orderItem {
                border: 0;
                background: transparent;
                font-size: 1.2rem;
                color: var(--white);
                height: 60px;
                font-weight: bold;
                display: flex;
                align-items: center;

                div.tag {
                    width: 9px;
                    background-color: var(--green-900);
                    height: 60px;
                    border-radius: 0.3rem 0 0 0.3rem;
                    margin-right: 1rem;
                }
            }
        }

        #noOrderMessage {
            color: rgba(#FF3F4B, 0.5);
        }
    }

    
}

