.headerContainer {
    height: 5rem;

    .headerContent {
        max-width: 1120px;
        height: 0 auto;
        margin: 0 auto;
        padding: 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        img.logo{
            cursor: pointer
        }

        a.categoryActive {
            color: var(--red-900);
        }
        
        a.productActive {
            color: var(--red-900)
        }
    
    }
}



.menuNav {
    display: flex;
    align-items: center;
    font-weight: bold;

    a {
        color: var(--white);
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;
        transition: color 0.4s;


        & + a {
            margin-left: 2rem;
        }

        &:hover {
            color: var(--red-900)
        }
    }

    button {
        font-size: 24px;
        margin-left: 2rem;
        background: transparent;
        border: 0;
        transition: transform 0.5s;

        svg {
            color: #FFF;
        }

        svg:hover {
            color: var(--red-900)
        }

        &:hover {
            transform: scale(1.2)
        }
    }

    
}